body{
  margin:90% ;
  }
.Headertext{
  text-align: center;
}

a:link {color: black}
a:visited{color: black}

#links{
  text-align: center;
}

.name{
  margin-top: auto;
  margin-left: 700px;
  float:left;
}

.email{
  margin-top: autp;
  margin-left: 900px;
  position: relative;

}

.subject{
  margin-top: auto;
  margin-left: 700px;
}

.message{
  margin-top: auto;
  margin-left: 700px;
}

.button{
  margin-top: auto;
  margin-left: 700px;
}

.ID{
  margin-top: auto;
  margin-left: 200px;
}
